.section {
    // Size and Position
    width: 100%;

    // Background
    background-color: var(--secondary-500);
    border-top: 1px solid var(--secondary-300);
    border-bottom: 1px solid var(--secondary-300)
}

.content {
    // Size and Position
    width: 100%;
    padding: 36px;
}

.textContentContainer {
    // Size and Position
    padding: 16px;

    // Flex
    flex-grow: 1;

    // Background
    background-color: var(--secondary-600);
    border: 2px solid var(--secondary-400)
}

.borderBottom2px {
    // Background
    border-bottom: 2px solid white;
}

.text {
    // Text
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
}

.image {
    // Size and Positon
    width: 600px;
    height: 400px;

    // Background
    border: 1px solid var(--secondary-300);

    // Image
    object-fit: contain;    
}

.layoutImageLeft {
    // Flex
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

.layoutImageRight {
    // Flex
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 32px;
}

.iconContainer {
    // Flex
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}