.home {
    // Size and Position
    width: 100%;
    min-height: 120vh;
    padding-top: 96px;
    padding-bottom: 96px;

    // Flex
    display: flex;
    flex-direction: column;
    row-gap: 80px;

    // Text
    color: white;
}

.sectionWithIcons {
    // Text
    text-align: center;
    color: var(--primary-400);
    font-size: 64px;
}

.techList {
    // Size and Position
    width: 100%;
    
    // Flex
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 48px;
    row-gap: 48px;
    flex-wrap: wrap;
}