.iconWithText {
    // Size and Position
    padding: 16px;
    width: 300px;

    // Flex
    display: flex;
    flex-direction: column;

    // Text
    text-align: center;
}

.icon {
    // Size and Position
    margin-bottom: 8px;
}

.text {
    // Text
    font-family: var(--font-text);
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 28px;
}