.iconWithText {
    // Size and Position
    width: 250px;

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Text
    text-align: center;
}

.icon {
    // Size and Position
    margin-bottom: 8px;
}

.text {
    //Size and Position
    display: block;
    width: 100%;

    // Text
    font-family: var(--font-monoSpace);
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 24px;
}