.button {
    // Size and Position
    padding: 8px 16px;
    min-height: 100px;

    // Text
    font-family: var(--font-header);
    font-size: 36px;
    letter-spacing: 2px;

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 320px) {
        font-size: 28px;
        padding: 4px 8px;
    }
}

.buttonNormal {
    @extend .button;

    // Background
    background-color: var(--primary-400);
    border: 2px solid var(--primary-500);

    // Other
    transition: 0.2s;

    &:hover {
        // Background
        background-color: var(--primary-500);
        color: white;

        // Other
        transition: 0.2s;
    }
}

.buttonOutlined {
    @extend .button;

    // Text
    color: var(--primary-400);

    // Background
    background-color: transparent;
    border: 3px ridge var(--primary-400);

    // Other
    transition: 0.2s;

    &:hover {
        // Text
        color: var(--primary-200);

        // Background
        background-color: var(--secondary-400);
        border-color: var(--primary-200);

        // Other
        transition: 0.2s;
    }
}